.markdown {
  position: relative;
  display: flex;

}


.textInput {
  outline: none;
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease;
  color: var(--ds-color-text-primary);
  flex: 1;

  //margin-bottom: 24px;
  background-color: var(--ds-color-bg-elevated);

  resize: none;


  cursor: pointer;

  &:focus, &:hover {
    background: var(--ds-color-accent-blue-tint-5);
  }
}
