@import '../../common.scss';


.markdown {
  position: relative;
  display: flex;

}


.textInput {
  outline: none;
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease;
  color: $primaryText;
  flex: 1;

  //margin-bottom: 24px;
  background-color: $bg2;

  resize: none;


  cursor: pointer;

  &:focus, &:hover {
    background: $transparentTint3;
  }
}
