@use "../../../../common.scss";

.block {
  & > div {
    padding: 1em;
  }
}

.options {
  --meta-grid-gap: 1rem;
  --meta-grid-label-color: #{common.$primaryText};
  --meta-grid-value-color: #{common.$primaryTextSemiDark};
}


.inline {
  width: fit-content;
}


.actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
