.block {
  & > div {
    padding: 1em;
  }
}

.options {
  --meta-grid-gap: 1rem;
  --meta-grid-label-color: #{var(--ds-color-text-primary)};
  --meta-grid-value-color: #{var(--ds-color-text-muted)};
}


.inline {
  width: fit-content;
}


.actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
