@import "../../common.scss";

.pagination {
  //padding: 6px 6px;
  padding: 0 !important;
  display: flex;


  @media (max-width: 600px) {
    // Overwrite for panel
    flex-direction: row !important;
  }


  & + table, table + & {
    //margin-top: 20px;
  }
}



.page {
  //padding: 4px 12px;
  padding: 10px 16px;
  //display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  text-align: center;

  min-width: 20px;
  max-width: 20px;

  color: $green;
  text-decoration: none;
  cursor: pointer;

  & svg {
    vertical-align: middle;
  }

  & a {
    color: $green;
  }

  &.active {
    background-color: $blueHighlight3;
  }

  &:hover, &:focus {
    background-color: $blueHighlight3
  }
}
