@import "../../common.scss";

.pagination {
  padding: 6px 6px;
  display: flex;


  @media (max-width: 600px) {
    // Overwrite for panel
    flex-direction: row !important;
  }


  & + table, table + & {
    //margin-top: 20px;
  }
}



.page {
  padding: 4px 12px;
  //display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  text-align: center;

  min-width: 20px;
  max-width: 20px;

  & svg {
    vertical-align: middle;
  }

  & a {
    color: $green;

  }
  &.active {
    background-color: $transparentTint;
  }

  &:hover, &:focus {
    background-color: $transparentTint3;
  }
}
