@use "../../common.scss";

.panel {
  padding: 6px 6px;
  //background-color: $bg2;
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  grid-column: span 12;

  & :global(.left) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    // & span {
    //   font-size: 1.2rem;
    //   margin-left: 8px;
    // }

    & a {
      color: common.$green;
      // margin-left: 8px;
      font-size: 1rem;
    }
  }

  & :global(.right) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    @media (max-width: 600px) {
      gap: 6px;
      overflow-x: auto;
      scrollbar-width: thin;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: 12px;
      justify-content: space-around;
    }

    & dl {
      display: inline-block;
      vertical-align: top;
      font-size: 1rem;

      @media (max-width: 600px) {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 0.8rem;
        grid-column: span 1;
      }

      & dd {
        color: common.$primaryTextHighlight;
        margin-inline-start: 0px;
        white-space: nowrap;
      }
      & dt {
        white-space: nowrap;
        font-size: 0.8em;
        color: rgb(161, 161, 161);
      }
    }
  }
}
