.telegram {
  display: inline-flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  color: var(--ds-color-accent-blue);
  vertical-align: bottom;

  & svg {
    margin-right: 4px;
  }
}
