@use "../../common.scss";


.telegram {
  display: inline-flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  color: common.$blueHighlight;
  vertical-align: bottom;

  & svg {
    margin-right: 4px;
  }
}
