@import "../../common.scss";

.hiddenInput {
  display: none;
}

.uploadFileAnimation {
}

.spaced {
}

.toolbarItem {
  border: 0;
  display: flex;
  background: none;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  color: $primaryText;
  &:hover {
    background-color: $transparentTint;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}
