.hiddenInput {
  display: none;
}

.uploadFileAnimation {
}

.spaced {
}

.toolbarItem {
  border: 0;
  display: flex;
  background: none;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  color: var(--ds-color-text-primary);
  &:hover {
    background-color: var(--ds-color-accent-blue-tint-15);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}
