@use "../../common.scss";

.list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.step {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;

  &.next {
    padding-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      top: 56px;
      bottom: 12px;
      left: 19px;
      border: 1px none common.$blueHighlight;
      border-right-style: dashed;
      opacity: 0.35;
    }
  }

  & h3 {
    margin-block-start: 0;
    margin-block-end: 8px;
    color: common.$primaryTextHighlight;
    font-size: 2rem;
  }

  & .content {
    line-height: 1.8rem;
    font-size: 1.4rem;
  }
}

.step__content {
  padding: 16px 20px;
  margin-left: 20px;
  color: common.$primaryText;
  flex: 1;
  @include common.card;
}

.step__num {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 36px;
  min-width: 36px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  color: common.$blueHighlight;
  border: 1px solid common.$blueHighlight3;
  border-radius: 4px;
  background-color: common.$transparentTint;
  margin-top: 8px;
}
