@use "../../common.scss";

.list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.step {
  display: flex;
  flex-direction: row;
  position: relative;

  &.next {
    padding-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      top: 50px;
      bottom: 12px;
      left: 18px;
      border: 1px none common.$primaryTextDark;
      border-right-style: dotted;
    }
  }

  & h3 {
    margin-block-start: -10px;
    color: common.$primaryTextHighlight;
    font-size: 2rem;
  }

  & .content {
    line-height: 1.8rem;
    font-size: 1.4rem;

  }
}

.step__content {
  padding: 8px;
  margin-left: 20px;
  color: common.$primaryText;

}

.step__num {
  padding: 8px;
  text-align: center;
  background-color: common.$transparentTint;
  border: 1px solid common.$transparentTint3;
  border-radius: 4px;
  width: 20px;
  min-width: 20px;
  height: 20px;
  font-size: 20px;
}
