@use "../../common.scss";

.modal {
}

.finalPrice {
}

.plans {
  display: flex;
  flex-direction: column;
}

.plan {
  //padding: 12px 2px;
  //background-color: $panelBg;

  &.active {
  }

  & header {
  }

  & .price {
    color: common.$gold;
  }
}

.subscriptionDurations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.subItem {
  @include common.card();
  position: relative;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid common.$panelBg;
  cursor: pointer;
  transition: 0.3s ease;
  min-width: 200px;

  &:hover {
    border: 1px solid common.$gold;
  }
  &__selected {
    border: 1px solid common.$gold;
  }

  & header {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.price {
  color: common.$gold;
}

.discount {
}

.selectionIndicator {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
  color: common.$primaryTextDark2;

  &__selected {
    color: common.$blueHighlight;
  }
}

.form {
  padding: 0px 6px;
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
    & svg {
      margin-right: 6px;
      margin-bottom: -2px;
    }
  }
}

.delimiter {
  border-bottom: 1px solid common.$primaryTextDark;
  margin-top: 4px;
  margin-bottom: 4px;
}

.payButton {
  margin-top: 2rem;
}

.countdown {
  font-size: 1rem;
  padding-top: 2px;
  display: flex;
  justify-content: center;
}

.email {
  gap: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

