@use "../../common.scss";

.usernameLinkContainer {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 1em;
}

.usernameLink {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usernameWrapper {
  display: flex;
  flex-direction: row;
  min-width: 0.5rem;
}


.roleTooltip {
  @include common.box();
  padding: 8px 12px;
  background-color: common.$bg2;
  color: common.$primaryText;
}

.roles {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1em;
  gap: 4px;
}
