@use "../../common.scss";

@keyframes bgAnimate {
  0% {
    background-position: 10% 20%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 40% 0%;
  }
}

.modalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 90000000;

  display: flex;

  &:global(.mobileHidden) {
    display: none;
  }

  & :global(.modal) {
    z-index: 100;
    //position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    min-width: 300px;

    //height: 60%;
    display: flex;
    flex-direction: column;

    //background: $bg2;
    background: linear-gradient(25deg, common.$bg1 0%, common.$bg3 100%);
    background-size: 200% 200%;
    animation: bgAnimate 3s ease alternate infinite;

    //border: 2px solid rgb(68, 61, 21);
    border: 2px solid common.$bronze;

    border-radius: 1px;
    padding: 12px;

    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.65);
    overflow: hidden;

    & h2 {
      text-align: center;
      font-size: 24px;
      font-weight: normal;
      color: common.$primaryText;
    }

    &:global(.inline) {
      right: 50px !important;
      left: unset;
      top: unset;
      bottom: 50px !important;
      margin: unset;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  //margin-bottom: 12px;

  &__closeIcon {
    font-size: 2rem;
    transition: 0.3s ease;
    margin-top: 2px;
  }

  &__title {
    font-size: 1.2rem;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 4px;
  }

  &__closeIcon_button {
    position: absolute;
    top: 2px;
    right: 2px;
    outline: none;
    border: none;
    padding: 0 3px;
    color: common.$primaryText;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;

    &:hover {
      & svg {
        color: common.$red;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex: 1;
  overflow-y: auto;
}
