@import "../../common.scss";


.heroInMatch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.items {
  gap: 2px;
}

.kda {
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  gap: 8px;
  padding: 6px 8px;
}

.player {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 6px 8px;
  align-items: center;
}


.player_info {
  display: flex;
  flex-direction: row;
}

.watchLive {
  margin-top: 12px;
}


.item {
  gap: 6px;
  display: flex;
  flex-direction: column;
}
