@import "../../../common.scss";

.actions {
  & button {
    width: fit-content;
  }

  & button + button {
    margin-left: 20px;
  }
}

.banEndTime {
  width: 300px;
}

.active {
  color: $red;
}

.inactive {
  color: $primaryTextDark2;
}
