.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;

  & button {
    width: fit-content;
  }
}

.banEndTime {
  width: 300px;
}

.active {
  color: var(--ds-color-accent-red);
}

.inactive {
  color: var(--ds-color-text-faint);
}
