@import "../../../common.scss";

.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;

  & button {
    width: fit-content;
  }
}

.banEndTime {
  width: 300px;
}

.active {
  color: $red;
}

.inactive {
  color: $primaryTextDark2;
}
