@import "../../common.scss";

.thread {
  margin-top: 20px;
  background-color: $bg2;
  position: relative;
}

.messageContainerContainer {
  position: relative;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 16px;

  &__tiny {
    gap: 10px;
  }

  &__forum {
    overflow-y: hidden !important;
  }
}

.messageSmall {
  & .user {
    width: 100px !important;
  }

  & h4 {
    display: none;
  }

  & .username {
    display: block !important;
  }

  & .roles {
  }

  & .usernameWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    & svg {
      vertical-align: middle;
      margin-left: 2px;
      width: 1.2em;
      height: 1.2em;
    }
  }
}

.messageTiny {
  & + & {
    margin-top: 6px !important;
  }

  & .user {
    width: 50px !important;
    padding: 4px 2px !important;

    & img {
      width: 45px !important;
      height: 45px !important;
    }
  }

  & .content {
    padding-top: 2px !important;
  }

  & .right {
    padding: 2px 8px !important;
  }

  & h4 {
    display: none;
  }

  & .user {
    & .roles {
      display: none;
    }
  }

  & .username {
    display: block !important;
  }
}

.message {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: unset;
  padding: 0;

  & + & {
    margin-top: 20px;
  }

  & .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px 8px;

    & .roles {
      display: none;
    }
  }

  & .timeCreated {
    color: $primaryTextDark;
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
  }

  & .content {
    line-height: 1.8rem;
    white-space: pre-line;
    flex: 1;
    padding-top: 12px;
  }

  & .username {
    display: none;
  }

  & .user {
    padding: 12px 4px;
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;

    font-size: 0.8rem;

    & .username {
      display: none;
    }

    & img {
      width: 160px;
      height: 160px;
    }

    & .roles {
      font-size: 2rem;
    }

    & h4 {
      white-space: nowrap;
    }
  }
}

.createMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.createMessage {
  position: relative;
  background-color: $bg3;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 2px;

  & .text {
    width: 100%;
    flex: 1;
    font-size: 1rem;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s ease;
    color: $primaryText;
    border: none;
    outline: none;
    background-color: transparent;

    resize: none;

    cursor: pointer;

    //&:focus,
    //&:hover {
    //  background: $transparentTint3;
    //}
  }
  & .markdown {
    display: inline-block;
    align-self: flex-start;
    color: $primaryTextDark;
    width: unset;
  }

  & button {
    //position: absolute;
    //bottom: 30px;
    //left: 35px;
    //margin-top: 10px;

    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    border: none;

    //display: inline-block;
    //align-self: flex-end;
    //width: unset;
  }
}

.test {
  grid-column: span 23;
  grid-row: span 1;
  color: $red;
  transition: 0.3s ease;

  height: 0;

  &.visible {
    height: 100%;
  }
}

.createThread {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}



.tc {
  display: flex;
  flex-direction: row;
}

.unseenMessages {
  position: absolute;
  padding: 8px;
  background: $bg1;
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  border: 1px solid $primaryTextDark2;
  color: $red;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 65px;
  text-align: center;
  width: 165px;
  cursor: pointer;
  transition: 0.3s ease;
  visibility: hidden;

  &__visible {
    visibility: visible;
  }

  &:hover {
    border: 1px solid $primaryText;
  }
}

.buttons {
  right: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  gap: 12px;

  & .buttonWrapper {
    padding: 4px;
    transition: 0.3s ease;
    background-color: transparent;
    cursor: pointer;


    & svg {
      font-size: 1.4rem;
      color: $primaryTextTint;
      transition: 0.3s ease;
    }

    &:hover {
      & svg {
        color: $gold;
        transform: rotateZ(-5deg);

      }
    }
  }
}
