@use "../../common.scss";

.thread {
  //background-color: $bg2;
  //background-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.04);
  position: relative;
}

.messageContainerContainer {
  position: relative;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  //gap: 16px;

  &__tiny {
    //gap: 10px;
  }

  &__forum {
    overflow-y: hidden !important;
  }
}

.createThread {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tc {
  display: flex;
  flex-direction: row;
}

.pinnedMessage {
  position: absolute;
  z-index: 10000;
  //background-color: common.$bg1;
  background-color: rgba(12, 12, 12, 0.9);
  top: 0;
  left: 0;
  right: 10px;
  padding-bottom: 6px;
  //height: fit-content;


  &__indicator {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 1rem;
    color: common.$primaryTextSemiDark;
  }
}
