@use "../../common.scss";

.thread {
  //background-color: $bg2;
  //background-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.04);
  position: relative;
}

.messageContainerContainer {
  position: relative;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  //gap: 16px;

  &__tiny {
    //gap: 10px;
  }

  &__forum {
    overflow-y: hidden !important;
  }
}

.createThread {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tc {
  display: flex;
  flex-direction: row;
}
