@import "../../common.scss";

.promoVideoWrapper {
  width: 100%;
  top: -1px;
  z-index: -2;
  opacity: 0.5;

  & video {
    z-index: -2;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background: #000;
  }
}

.block {
  position: relative;
}

.intent {
  & h3 {
    font-size: 24px;
    text-align: center;
  }

  & ol {
    font-size: 20px;
    & li {
      margin-top: 10px;
    }
  }
}

.leadingIntent {
  position: absolute;
  top: 0;
  z-index: 5;
  height: 100%;
  width: fit-content;
  max-width: 60%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  pointer-events: auto;

  font-size: 1.8rem;
}

.playButton {
  width: fit-content;
  outline: none;
  text-transform: uppercase;
  z-index: 10;
  white-space: pre;
  color: #ed3b1c;
  border: 2px solid $primaryText;
  border-radius: 6px;
  font-size: 28px;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 20px 20px 20px;
  transition: 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ee2c0a;
    border-color: $primaryTextHighlight;
  }

  cursor: pointer;
  text-align: left;
}

.backimage {
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.carousel {
  width: 1200px;
  max-width: 100%;
  position: relative;
  min-height: 308px;
  margin: 20px auto 65px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__stat {
    min-height: 150px;
    margin: 60px auto 65px;
  }

  & a + a,
  & .stat + .stat {
    margin-left: 30px;
  }

  & .stat {
    padding: 12px;
    flex: 1;
    text-align: center;

    background-color: $bg2;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
    display: block;

    & dd:first-child {
      text-decoration: underline;
      text-decoration-color: $primaryTextDark;
    }

    & dt {
      font-size: 16px;
    }

    & dd {
      font-size: 1.2rem;
      margin-inline-start: 0;
      margin-block-start: 1em;
      margin-bottom: 8px;
    }
  }

  & a {
    width: 400px;
    height: 245px;
    justify-items: center;
    position: relative;
    overflow: hidden;

    &:hover {
      & img {
        filter: brightness(0.2);
      }
    }

    & h3 {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
      width: fit-content;
    }

    & img {
      width: 100%;
      transition: 0.3s ease;
      position: absolute;
      filter: brightness(0.5);
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      object-fit: cover;
      z-index: -1;
    }
  }
}

.wow {
  position: absolute;
  top: 0;
  margin-top: 200px;
  color: $primaryTextHighlight;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 145%;
  font-size: 40px;
  text-align: center;

  & span {
    font-size: 64px;
  }

  & div {
    margin-top: 82px;
  }
}
