@import "../../common.scss";

.button {
  border: 1px solid $transparentTint;
  outline: none;
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease;
  color: $primaryText;
  cursor: pointer;
  background-color: $bg3;

  &:disabled {
    cursor: not-allowed;
    color: $primaryTextDark;
  }

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    //background: $transparentTint;
    background-color: $bg15;
  }

  &.active {
    color: $gold;
    background: $transparentTint;
  }
}

.megaButton {
  outline: none;
  text-transform: uppercase;
  z-index: 10;
  white-space: pre;
  color: #ed3b1c;
  border: 2px solid $primaryText;
  border-radius: 6px;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: $bg15;
  padding: 20px 20px 20px 20px;
  transition: 0.2s ease;
  cursor: pointer;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 1.2rem;
    padding: 16px 10px;
    margin: auto;
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ee2c0a;
    border-color: $primaryTextHighlight;
    transform: translateY(-2px);
  }


  &.snow::before, &.snow::after {
    scale: 0.6;
    top: -6px;
    content: '';
  }

  &.snow::before {
    right: 8px;
  }

  &.snow::after {
    left: 8px;
  }

}



.snow {
  position: relative;

  &::before {
    position: absolute;
    //content: '';
    background-image: url("/newyear/baubles.png");
    background-position: 0px 0px;
    background-size: 96px 96px;
    right: 0;
    top: 10%;
    width: 32px;
    height: 32px;
  }

  &::after {
    position: absolute;
    //content: '';
    background-image: url("/newyear/baubles.png");
    background-position: 64px 0px;
    background-size: 96px 96px;
    left: 0;
    top: 10%;
    width: 32px;
    height: 32px;
  }
}
