@use "../../common.scss";

.button {
  position: relative;
  //border: 1px solid common.$transparentTint;
  outline: none;
  font-size: 1rem;
  padding: 12px;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  user-select: none;

  color: common.$primaryText;
  background-color: common.$bg3;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  border-radius: 0.6rem;

  & svg {
    margin-right: 0.5em;
  }

  &:disabled {
    cursor: not-allowed;
    color: common.$primaryTextDark;
  }

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    background-color: common.$bg4;
  }
}

.smaller {
  padding: 8px !important;
  font-size: 1rem !important;
}

@keyframes shinyText {
  0% {
    background-position: -50% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.megaButton {
  outline: none;
  text-transform: uppercase;
  z-index: 10;
  white-space: pre;
  color: #ed3b1c;
  border: 2px solid common.$primaryText;
  border-radius: 4px;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  font-weight: bold;
  //background-color: $bg15;
  padding: 20px 20px 20px 20px;
  transition: 0.2s ease;
  cursor: pointer;
  text-align: center;

  display: flex;
  flex-direction: column;

  background: radial-gradient(common.$gold 0%, common.$red 100%);
  background-size: 150% 150%;
  animation: shinyText 3s ease alternate infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 600px) {
    font-size: 1.2rem;
    padding: 16px 10px;
    margin: auto;
    display: block;
  }

  &:disabled {
    background-clip: unset;
    background: common.$bg1 !important;
    -webkit-text-fill-color: unset;
  }

  &:not([disabled]):hover,
  &:not([disabled]):focus,
  &:not([disabled]):active {
    background-size: 250% 250% !important;
    color: #ee2c0a;
    border-color: common.$primaryTextHighlight;
    transform: translateY(-2px);
  }

  //&::before {
  //  content: "";
  //  position: absolute;
  //  inset: 0;
  //  background-color: #1c2024cc; // background of the button
  //  border-radius: inherit;
  //  z-index: -1;
  //}
}

@for $i from 0 through 3 {
  .snow:nth-child(9n + #{$i + 1}) {
    left: 20px * $i;
    animation-delay: $i * 0.3s;
    background-position: 32px * $i 0px !important;
  }
}

@for $i from 3 through 6 {
  .snow:nth-child(9n + #{$i + 1}) {
    left: unset;
    right: 20px * ($i - 3);
    animation-delay: $i * 0.3s;
    background-position: 32px * ($i - 3) 32px !important;
  }
}

@keyframes baubleAnimation {
  0% {
    transform: rotateY(0deg) translateY(3px);
  }

  25% {
    transform: rotateY(20deg) translateY(-8px);
    filter: drop-shadow(0px 0px 5px red);
  }

  75% {
    transform: rotateY(-20deg) translateY(8px);
    filter: drop-shadow(0px 0px 5px green);
  }

  100% {
    transform: rotateY(5deg) translateY(3px);
    filter: drop-shadow(0px 0px 5px blue);
  }
}

.snow {
  position: absolute;
  animation: baubleAnimation infinite 5s;
  top: -8px;
  content: "";
  background-image: url("/newyear/baubles.png");
  background-position: 0px 0px;
  background-size: 96px 96px;
  width: 32px;
  height: 32px;
  scale: 0.5;
}

.primary {
  background-color: #0f8394;
  color: common.$primaryText;

  &:disabled {
    cursor: not-allowed;
    color: common.$primaryTextDark;
  }

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    background-color: #086472;
  }

}
