@import "../../common.scss";

.button {
  position: relative;
  border: 1px solid $transparentTint;
  outline: none;
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease;
  color: $primaryText;
  cursor: pointer;
  background-color: $bg3;

  &:disabled {
    cursor: not-allowed;
    color: $primaryTextDark;
  }

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    //background: $transparentTint;
    background-color: $bg15;
  }

  &.active {
    color: $gold;
    background: $transparentTint;
  }
}

.megaButton {
  outline: none;
  text-transform: uppercase;
  z-index: 10;
  white-space: pre;
  color: #ed3b1c;
  border: 2px solid $primaryText;
  border-radius: 6px;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: $bg15;
  padding: 20px 20px 20px 20px;
  transition: 0.2s ease;
  cursor: pointer;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 1.2rem;
    padding: 16px 10px;
    margin: auto;
    display: block;
  }


  &:hover:enabled,
  &:focus:enabled,
  &:active:enabled {
    background-color: $bg1;
    color: #ee2c0a;
    border-color: $primaryTextHighlight;
    transform: translateY(-2px);
  }

  //&.snow::before, &.snow::after {
  //  scale: 0.6;
  //  top: -6px;
  //  content: '';
  //}
  //
  //&.snow::before {
  //  right: 8px;
  //}
  //
  //&.snow::after {
  //  left: 8px;
  //}
}

@for $i from 0 through 3 {
  .snow:nth-child(9n + #{$i + 1}) {
    left: 20px * $i;
    animation-delay: $i * 0.3s;
    background-position: 32px * $i 0px !important;
  }
}

@for $i from 3 through 6 {
  .snow:nth-child(9n + #{$i + 1}) {
    left: unset;
    right: 20px * ($i - 3);
    animation-delay: $i * 0.3s;
    background-position: 32px * ($i - 3) 32px !important;
  }
}

@keyframes baubleAnimation {
  0% {
    transform: rotateY(0deg) translateY(3px);
  }

  25% {
    transform: rotateY(20deg) translateY(-8px);
    filter: drop-shadow(0px 0px 5px red);
  }

  75% {
    transform: rotateY(-20deg) translateY(8px);
    filter: drop-shadow(0px 0px 5px green);
  }

  100% {
    transform: rotateY(5deg) translateY(3px);
    filter: drop-shadow(0px 0px 5px blue);
  }
}

.snow {
  position: absolute;
  animation: baubleAnimation infinite 5s;
  top: -8px;
  content: "";
  background-image: url("/newyear/baubles.png");
  background-position: 0px 0px;
  background-size: 96px 96px;
  width: 32px;
  height: 32px;
  scale: 0.5;
}
