@use "../../common.scss";


.card {
  @include common.box();
  background-color: common.$panelBg;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1em;
  height: 12rem;


  & > img {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
}


.info {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;

  & p {
    flex: 1;
  }

  & h2 {
    margin-block-start: 0;
  }
}


.config {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  & dl {
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & dd {
      margin-inline-start: 0;
      color: common.$primaryTextSemiDark;
    }

    & dt {
      color: common.$primaryText;
      font-weight: bold;
    }

    & dd,
    dt {
      padding: 4px 0px;
    }
  }
}
