@import '../../common.scss';


.avatar {
  height: 40px;
  object-fit: contain;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 0.8rem;

  & a, span {
    margin-left: 4px;
    text-transform: capitalize;
  }
}


.raw {
  //letter-spacing: 2px;
}


.item {
  & img {
    // margin-top: 4px;
    vertical-align: middle;
  }
}

.hero {
  width: 220px;

  & img {
    // margin-top: 4px;
    vertical-align: middle;
  }
}


.kda {
  //letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}


.empty {
  padding: 16px 0 !important;
  color: #999999;
  font-size: 1.2rem !important;
  line-height: 16px;
  text-align: center !important;
  vertical-align: middle !important;;
}
