@use "../../common.scss";



.tabs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.tab {
  padding: 12px 8px;
  background-color: common.$bg2;
  color: common.$primaryTextDark;
  border-radius: 4px 4px 0px 0px;

  &__active {
    background-color: common.$bg15;
    color: common.$primaryText;
  }
}
