@import "../../common.scss";

.tooltipable {
  position: relative;

  &:hover {
    & .tooltip {
      visibility: visible;
    }
  }
}

.tooltip {
  visibility: hidden;

  position: absolute;
  z-index: 1;
  min-width: 100px;

  background-color: $bg1;
  color: $primaryText;
  text-align: center;
  padding: 8px 12px;
  border-radius: 6px;

  &::after {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
}

.left {
  //&::after {
  top: 50%;
  right: 105%;
  //}
}

.top {
  bottom: 100%;
  left: 50%;
}

.bottom {
  top: 100%;
  left: 50%;
  margin-left: -50%; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.right {
  //&::after {
  top: -5px;
  left: 105%;
  //}
}
