@import "../../common.scss";

.tooltipable {
  position: relative;
}

.tooltip {
  box-shadow: 0px 3px 10px #000;
  padding: 8px 12px;
  background-color: $bg2;
  color: $primaryText;
}

.left {
  //&::after {
  top: 50%;
  right: 105%;
  //}
}

.top {
  bottom: 100%;
  left: 50%;
}

.bottom {
  top: 100%;
  left: 50%;
  margin-left: -50%; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.right {
  //&::after {
  top: -5px;
  left: 105%;
  //}
}
