@import '../../common.scss';


.liveMatches {
  display: flex;
  flex-direction: column;
}

.liveCarousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.filters {
  flex-direction: row !important;
  & > div + div {
    margin-left: 10px;
  }

  @media (max-width: 600px) {
    flex-direction: row;
    margin-bottom: 12px;
  }
}
