@import "../../common.scss";

.queueDiscussion {
  margin-top: 12px;
  min-height: 300px;
  max-height: 300px;

  display: flex;
  flex-direction: column;

  & :global(.messageList) {
    flex: 1;
    & > div:first-child {
      flex: 1;
    }
  }
}
