@import '../../common.scss';



.navbarItem {
  white-space: nowrap;
  padding: 6px 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: inherit;

  &:focus, &:hover {
    background: $blueHighlight;
  }

  &.active {
    color: red;
  }
}



.navbarItemLink {
  display: flex;
  align-items: center;
  justify-content: center;
}
