@import "../../common.scss";

.navbarItem {
  white-space: nowrap;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: inherit;
  transition: 0.3s ease;

  & > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
  }

  &:focus,
  &:hover {
    background: $transparentTint;
    & .options {
      visibility: visible;
      opacity: 1;
    }
  }

  &.active {
    color: $gold;
    background: $transparentTint;
  }
}

.navbarItemLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin {
  color: $bronze;
}

.options {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 6px 8px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  background: #243446;
}

.option {
  cursor: pointer;
  color: $primaryText;

  & + & {
    margin-top: 12px;
  }
}

.tip {
  position: absolute;
  top: 4px;
  right: 0px;
  color: $primaryText;
  font-size: 14px;

  @media (max-width: 600px) {
    left: calc(50% + 30px);
  }
}
