@import "../../common.scss";

@import "../../common.scss";

.panel {
  padding: 6px 6px;
  background-color: $bg2;
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);

  display: flex;
  flex-direction: row;
  align-items: center;

  & img {
    width: 65px;
    height: 65px;
  }
}

.summary {
  align-items: stretch !important;
}

.left {
  display: flex;
  flex: 1;
  flex-grow: 2;

  align-items: center;
  justify-content: flex-start;

  & .externalLink {
    color: $green;
    margin-left: 8px;
    font-size: 1rem;
  }

}

.heroEmbed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  & img {
    width: 65px;
    height: 65px;
  }

}
.playerName {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem !important;
  margin-left: 8px;
}

//.right {
//  display: flex;
//  flex: 1;
//  align-items: center;
//  justify-content: flex-end;
//
//  & dl {
//    display: inline-block;
//    margin: 5px 12px 14px 0;
//    vertical-align: top;
//    white-space: nowrap;
//
//    & dd {
//      color: $primaryTextHighlight;
//      margin-inline-start: 0px;
//      white-space: nowrap;
//    }
//    & dt {
//      white-space: nowrap;
//    }
//  }
//}


.icon {
  width: 1.1rem !important;;
  height: 1.1rem !important;
  border-radius: 2px;
}
.icon_svg {
  color: $blueHighlight;
  font-size: 1.1rem;
}
