@use "../../common.scss";

.panel {
  box-shadow: none;
  gap: 20px;
  padding: 16px 18px !important;

  @include common.mobile {
    gap: 14px;
    padding: 14px 16px !important;
  }
}

.summary {
  align-items: stretch !important;
  grid-column: 1 / -1;
}

.left {
  display: flex;
  flex: 1;
  flex-grow: 2;
  min-width: 0;
  padding-right: 8px;

  align-items: center;
  justify-content: flex-start;
}

.right {
  gap: 18px;
  align-items: flex-start;
  padding-left: 8px;

  @include common.mobile {
    padding-left: 0;
    gap: 10px;
  }
}

.externalLink {
  color: common.$green;
  font-size: 1rem;
  display: flex;
  gap: 6px;

  margin-left: 0 !important;

  // & svg {
  //   padding: 4px;
  // }
}

.twitch {
  & svg {
    color: common.$purple !important;
  }
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 0.65rem;
  align-items: stretch;
  min-width: 0;

  &:hover :global(.globalLinkReference)::before {
    width: 100%;
  }
}

.playerAndRoles {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
}

.icons {
  gap: 6px;
  padding: 10px 0px;
}

.playerName {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem !important;
  min-width: 0;
}

.tabs {
  grid-column: 12 span;
}

.icon {
  width: 1.1rem !important;
  height: 1.1rem !important;
  border-radius: 2px;
}
.icon_svg {
  color: common.$blueHighlight;
  font-size: 1.1rem;
}

.games {
  & span + span {
    &::before {
      content: "-";
      color: common.$primaryTextDark2;
      margin: 2px;
    }
  }
}

.actionStack {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
