@use "../../../common.scss";

.post {
  flex-direction: column;
  margin-top: 20px;
  align-items: stretch;
}
.title {
  text-align: center;
  font-size: 3rem;
}

.date {
  font-size: 2rem;
  color: common.$primaryTextDark;
  text-align: center;
  margin-block-start: 0;
}

.newsLink {
  font-size: 1.4rem;
  color: common.$primaryTextDark;
  text-align: center;
  display: block;
  margin: 4rem auto auto;
}

.thread {
  margin-top: 20px;
}

.postContainer {
  max-width: 800px;
  margin: 10px auto auto;


  color: common.$primaryText;
}
