@import "../../../common.scss";

.queue {
  color: #c2c2c2;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  justify-content: center;

  @media (max-width: 600px) {
    padding: 10px;
    font-size: 16px;
  }

  & a {
    text-decoration: none;
    color: #c2c2c2;

    transition: 0.3s ease;

    &:hover {
      color: white;
    }
  }
}

.streams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.stream {
  grid-column: span 1;

  & iframe {
    width: 100%;
    height: auto;
    min-height: 300px;
  }
}
