@import "../../../common.scss";

.stats {
  display: flex;
  flex-direction: row;
}

.playerPage {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: repeat(12, 1fr);
}

.playerInfo {
  grid-column: span 12;
}

.heroPerformance {
  grid-column: span 5;
  @media (max-width: 600px) {
    grid-column: span 12;
  }
}

.matchHistory {
  grid-column: span 7;
  @media (max-width: 600px) {
    grid-column: span 12;
  }
}

.thread {
  margin-top: 20px;
  grid-column: span 12;

  //height: 300px;
  //min-height: 300px;
  //max-height: 300px;
  //
  //
  //display: flex;
  //flex-direction: column;
  //
  //& :global(.messageList) {
  //  flex: 1;
  //  & > div:first-child {
  //    flex: 1;
  //  }
  //}
}

.achievements {
  display: flex;
  gap: 10px;
  overflow-x: auto;

  @media (max-width: 600px) {
    flex-direction: row;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
}


.hats {

}


.hat {
  position: relative;
  @include box();
  border: 1px solid $bg1;
  background-color: $bg1;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover, &:focus {
    box-shadow: 0px 0px 10px $blueHighlight;
    border: 1px solid $blueHighlight2;
  }
}

.hat__price {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  background-color: $bg2;
  box-shadow: 0px 0px 6px $primaryText;


  & svg {
    color: $gold;
    margin-bottom: -2px;
  }
}
