@use "../../../common.scss";

.stats {
  display: flex;
  flex-direction: row;
}

.playerPage {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: repeat(12, 1fr);
}

.playerInfo {
  grid-column: span 12;
}

.heroPerformance {
  grid-column: span 5;
  @media (max-width: 600px) {
    grid-column: span 12;
  }
}

.matchHistory {
  grid-column: span 7;
  @media (max-width: 600px) {
    grid-column: span 12;
  }
}

.thread {
  margin-top: 20px;
  grid-column: span 12;

}

.achievements {
  display: grid;
  gap: 16px;

  grid-template-columns: repeat(10, 1fr);



  @media (max-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.twitch {
  color: common.$purple;
}

.heading {
  display: flex;
  gap: 6px;
  align-items: end;

  & svg {
    font-size: 30px;
    margin-top: 4px;
  }

  & img {
    width: 30px;
    height: 30px;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4px 20px;
  & p {
    font-size: 1.4rem;
  }
}

.icons {
  grid-column: span 4;
}


.twitchBlock {
  font-size: 2rem;
  margin-bottom: 1rem;
  & a {
    margin-left: 4px;
  }
}

.buttons {
  display: flex;
  gap: 8px;
}

.inlineButton {
  display: inline-flex;
  width: fit-content;
}

.recalibrationButton {
  flex-direction: column;
  & > div {
    font-size: 1rem;
    padding-top: 2px;
    display: flex;
    justify-content: center;
  }
}


.section {
  gap: 16px;
}
