@import "../../common.scss";

.matchId {
  display: flex;
  flex-direction: column;

  &__id {
    color: $green !important;
  }
  &__timeAgo {
    font-size: 0.7rem;
  }
}

.radiant {
  color: $green !important;
}

.dire {
  color: $red !important;
}


.heroes {
  & img {
    vertical-align: middle;
  }
}


.mode {
  display: flex;
  flex-direction: column;
  & span + span {
    margin-top: 4px;
  }
}


.secondary {
  font-size: 0.7rem;
  color: $primaryTextDark;
}
