@use "../../common.scss";

.twoRows {
  display: flex;
  flex-direction: column;

  & span {
    white-space: nowrap;
  }

  & span:nth-child(2) {
    font-size: 0.7rem;
  }
}

.matchId {
  display: flex;
  flex-direction: column;

  &__id {
    color: common.$green !important;
  }
  &__timeAgo {
    font-size: 0.7rem;
  }
}

.radiant {
  color: common.$green !important;
}

.dire {
  color: common.$red !important;
}

.heroes {
  & img {
    vertical-align: middle;
  }
}

.mode {
  display: flex;
  flex-direction: column;
  & span + span {
    margin-top: 4px;
  }
}

.secondary {
  font-size: 0.7rem;
  color: common.$primaryTextDark;
}
