@use "../../common.scss";

@keyframes pendingAnimation {
  0% {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.6);
  }

  50% {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.6);
  }
}

.invite {
  width: 350px;
  background: common.$bg2;
  box-shadow: 0 0 10px 3px rgba(150, 150, 150, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: pendingAnimation 2s linear infinite;

  & header {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    background-color: common.$bg1;
    padding: 16px 12px;
    text-align: center;
    color: common.$primaryText;

    & span {
      font-size: 1.4rem;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;

  padding: 10px 8px;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 160px;
    border: 0px solid transparent;
    outline: none;
    font-size: 1rem;
    padding: 12px;
    border-radius: 4px;
    transition: 0.3s ease;
    color: common.$primaryTextTint;
    cursor: pointer;
    background-color: common.$bg2;

    &:disabled {
      background: rgba(0, 0, 0, 0.3);
      cursor: not-allowed;
    }
  }
}

.accept {
  box-shadow: 0 0 8px rgba(10, 10, 10, 0.4);
  background: radial-gradient(circle, rgb(11 97 12) 0%, rgb(21 61 25) 114%);

  &:hover {
    box-shadow: 0 0 8px rgba(100, 187, 120, 0.32);
  }
}

.decline {
  box-shadow: 0 0 8px rgba(10, 10, 10, 0.4);
  background: radial-gradient(circle, rgb(126 18 18) 0%, rgb(40 0 0) 115%);
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 0 8px rgba(166, 13, 13, 0.62);
  }
}
