.hat {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;

  //transform: translate(0%, -50%);
  bottom: 0;
}


.avatar {
  position: relative;
  display: block;
  & img:global(.avatar) {
    border-radius: 50%;
  }
}
