@use "../../common.scss";


.hat {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;

  //transform: translate(0%, -50%);
  bottom: 0;
  pointer-events: none;
}

.avatar {
  position: relative;
  display: block;
  & img:global(.avatar) {
    border-radius: 50%;
  }
}

.online {
  position: relative;

  &__big {
    &::before {
      width: 14px;
      height: 14px;
      bottom: 8%;
      right: 4%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 1px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(34, 206, 34, 1);
    outline: 2px solid common.$bg2;
    pointer-events: none;
    z-index: 1000;
  }
}


