.green {
  color: #92a525 !important;
}

.red {
  color: #c23c2a !important;
}

.gold {
  color: #c9af1d !important;
}

.bronze {
  color: #91500d !important;
}

.silver {
  color: #d7d7d7 !important;
}

.shit {
  color: #aaa;
}

.ReactModal__Content {
  background: #15191d !important;

  z-index: 5 !important;

  display: flex;
  flex-direction: column;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
  z-index: 10 !important;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  color: white;
  font-weight: 1000;
}

body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: 300;
  font-family: "Trajan Pro 3", sans-serif;
  text-underline-offset: 5px;
}

a {
  color: #92a525;
  text-decoration: none;
  transition: 0.3s ease;

  &:hover {
    /*text-decoration: underline;*/
  }
}
