.green {
  color: #92a525 !important;
}

.red {
  color: #c23c2a !important;
}

.gold {
  color: #c9af1d !important;
}

.blue {
  color: rgb(77, 169, 243) !important;
}

.bronze {
  color: #91500d !important;
}

.silver {
  color: #d7d7d7 !important;
}

.shit {
  color: #aaa;
}

.ReactModal__Content {
  background: #15191d !important;

  z-index: 5 !important;

  display: flex;
  flex-direction: column;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
  z-index: 10 !important;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  color: white;
  font-weight: 1000;
}

body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: 300;
  font-family: "Trajan Pro 3", sans-serif;
  text-underline-offset: 5px;
}

a {
  color: #92a525;
  text-decoration: none;
  transition: 0.3s ease;
}

.link {
  position: relative;

  &::before {
    transition: 0.3s ease;
    content: "";
    background: #c23c2a;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
  }

  &:hover::before {
    width: 100%;
  }
}

iframe {
  border: none !important;
}

.adminicon {
  transition: 0.3s ease;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;

  &:hover {
    color: #c9af1d !important;
  }
}


.mobile-only {
  @media (min-width: 600px) {
    display: none !important;
  }
}
.mobile-omit {
  @media (max-width: 600px) {
    display: none !important;
  }
}

@keyframes spinning {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.loading {
  animation: spinning 2s infinite ease;
}



:root {
  --toastify-z-index: 9999999999;
}
