.ReactModal__Content {
  background: #15191d !important;

  z-index: 5 !important;

  display: flex;
  flex-direction: column;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
  z-index: 10 !important;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #1d242d;
  color: white;
  font-weight: 1000;
}

body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: 300;
  font-family: "Trajan Pro 3", sans-serif;
  background: #15191d;
  text-underline-offset: 5px;
}
a {
  text-decoration: none;
}
