@use "../../common.scss";

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;

  border-bottom: 1px solid #242424;
  border-top: 1px solid #242424;

  //background-color: $bg2;
  background-color: rgba(255, 255, 255, 0.04);

  box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  //align-items: stretch;
  //display: flex;
  //flex-direction: row;
}

.searchGameBar {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  border: none;

  font-size: 1rem;


  &__pending {
    animation: pendingAnimation 2s linear infinite;
  }

  & span {
    white-space: nowrap;
  }

  & span.info {
    font-size: 10px;
  }
}

.party {
  display: flex;

  position: relative;
  flex-direction: row;

  flex: 1;
}

.partyItem {
  border: 1px solid #5f5e5e;
  height: 50px;
  width: 50px;

  margin: 5px;

  position: relative;

  &.invite {
    &::before {
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      transition: 0.3s ease;
      cursor: pointer;
    }
  }

  &.invite:hover {
    &::before {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &.leader {
    border: 1px solid #c8831c;
  }


  &.banned {
    border: 1px solid common.$red;
  }

  &.playing {
    border: 1px dotted common.$red;
  }

  & img {
    width: 50px;
    height: 50px;
  }
}

.cancelSearch {
  white-space: nowrap;
  padding: 10px;

  border: 1px solid grey;

  cursor: pointer;

  transition: 0.3s ease;
  color: common.$primaryTextDark;
  background-color: common.$evenDarkerBg;

  &:hover {
    color: common.$primaryText;
    background-color: common.$darkBg;
  }
}

.infoTab {
  position: relative;
  font-size: 12px;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  transition: 0.3s ease;

  color: common.$primaryText;
}
