@import "../../common.scss";


.matchWinner {
  margin: 20px auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__winner {
    font-size: 1.4rem;
    text-shadow: 1px 1px 5px black;
  }

  &__score {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    align-items: center;
  }

  &__duration {
    margin: 0 1em;
    font-size: 1rem;
    top: 3px;
  }
}

.radiant {
  color: $green;
}

.dire {
  color: $red;
}
