@use "../../common.scss";

.header {
  font-size: 1.8rem;

  @include common.mobile {
    font-size: 1.2rem;
    margin-inline-start: 10px;
    margin-block-end: 10px;
  }
}

.radiant {
  color: common.$green;
}

.dire {
  color: common.$red;
}
