@import "../../common.scss";

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layoutInner {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto auto;

  //padding-bottom: 200px;

  &.landing {
    max-width: unset;
    width: 100vw;
  }


}

.footer {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  font-family: monospace;
  padding: 36px 4px;

  & div + div {
    margin-left: 20px
  }
}
