@import "../../common.scss";

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 600px) {
    width: 100vw;
  }
}

.layoutInner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto auto;

  @media (max-width: 600px) {
    margin: -2px auto auto;
  }
}

.queue {
  height: 100%;
  overflow-y: auto;
  margin-top: 0;
}


.landing {
  margin-top: -2px;
}

.footer {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  font-family: monospace;
  padding: 20px 4px;
  gap: 20px;
  @media (max-width: 600px) {
    flex-direction: column;

  }
}
