@import "../../common.scss";

.thread {
}

.messageContainer {
  display: flex;
  flex-direction: column;
}

.messageSmall {
  & .user {
    width: 100px !important;
  }

  & h4 {
    display: none;
  }

  & .username {
    display: block !important;
  }
}

.message {
  & + & {
    margin-top: 20px;
  }

  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: unset;

  padding: 0;

  & .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px 8px;
  }

  & .timeCreated {
    color: $primaryTextDark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  & .content {
    line-height: 1.8rem;
    white-space: pre-line;
    flex: 1;
    padding-top: 12px;
  }

  & .user {
    & .username {
      display: none;
    }

    padding: 12px 4px;
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;

    font-size: 0.8rem;

    & img {
      width: 80%;
      height: auto;
    }

    & h4 {
      white-space: nowrap;
    }
  }
}

.createMessage {
  margin-top: 20px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  & .markdown {
    display: inline-block;
    align-self: flex-start;
    color: $primaryTextDark;
    width: unset;
  }

  & button {
    position: absolute;
    bottom: 30px;
    right: 15px;

    display: inline-block;
    align-self: flex-end;
    width: unset;
    margin-right: 10px;
  }
}

.text {
  width: 100%;
  flex: 1;
}

.createThread {
  display: flex;
  flex-direction: column;
}
