@import "../../common.scss";

.thread {
  margin-top: 20px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.messageSmall {
  & .user {
    width: 100px !important;
  }

  & h4 {
    display: none;
  }

  & .username {
    display: block !important;
  }
}

.messageTiny {
  & + & {
    margin-top: 6px !important;
  }

  & .user {
    width: 50px !important;
    padding: 4px 2px !important;;


    & img {
      width: 45px !important;
      height: 45px !important;
    }
  }

  & .content {
    padding-top: 2px !important;
  }

  & .right {
    padding: 2px 8px !important;
  }

  & h4 {
    display: none;
  }

  & .username {
    display: block !important;
  }
}

.message {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: unset;
  padding: 0;

  & + & {
    margin-top: 20px;
  }


  & .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px 8px;
  }

  & .timeCreated {
    color: $primaryTextDark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  & .content {
    line-height: 1.8rem;
    white-space: pre-line;
    flex: 1;
    padding-top: 12px;
  }

  & .username {
    display: none;
  }

  & .user {
    padding: 12px 4px;
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;

    font-size: 0.8rem;

    & .username {
      display: none;
    }

    & img {
      width: 160px;
      height: 160px;
    }

    & h4 {
      white-space: nowrap;
    }
  }
}

.createMessage {
  margin-top: 20px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  & .markdown {
    display: inline-block;
    align-self: flex-start;
    color: $primaryTextDark;
    width: unset;
  }

  & button {
    position: absolute;
    bottom: 30px;
    left: 35px;

    display: inline-block;
    align-self: flex-end;
    width: unset;
    margin-right: 10px;
  }
}

.text {
  width: 100%;
  flex: 1;
}

.createThread {
  display: flex;
  flex-direction: column;
}


.delete {
  vertical-align: middle;
  margin-left: 4px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $red;
  }
}



.iframe {
  height: 200px;
  aspect-ratio: 16 / 9;
}

.tc {
  display: flex;
  flex-direction: row;
}
