@use "../../../styles/mixins.scss" as m;
.row {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;

  @include m.mobile {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 0.8rem;
  }
}

.value {
  margin-inline-start: 0;
  white-space: nowrap;
  color: var(--ds-color-text-strong);
}

.label {
  white-space: nowrap;
  font-size: 0.8em;
  color: rgb(161, 161, 161);
  margin-inline-start: 0;
}
