@use "../../common.scss";

.log {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.empty {
  padding: 12px 18px !important;
}

.logEntry {
  padding: 6px 8px;
}

.logList {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.team {
  width: 100px;
}

.settings {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
