@use "../../common.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 20px 8px;
  background-color: common.$panelBg;

  & > img {
    aspect-ratio: 1 / 1;
    width: 152px;
    height: 152px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #373737bf;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.overview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4px;

  & h1 {
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 1.4rem;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-right: 3em;
  gap: 1rem;
}

.timestamp {
  font-size: 1.2rem;
}

.delimeter {
  margin-left: 6px;
  margin-right: 6px;
}

.tabs {
  grid-column: 12 span;
}
