@use "../../common.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 20px 8px;

  @media (width <= 600px) {
    flex-direction: column;
    align-items: center;
  }

  & > img {
    aspect-ratio: 1 / 1;
    width: 152px;
    height: 152px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #373737bf;
    z-index: 3;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 3;
  }
}

.overview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4px;
}

.title {
  font-size: 48px;
  margin-block-start: 0;
  margin-block-end: 1.4rem;

  @media (width <= 600px) {
    font-size: 1.8rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90dvw;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;

  padding-right: 3em;
  gap: 1rem;


  &:empty {
    display: none;
  }
}

.timestamp {
  font-size: 1.2rem;

  @media (width <= 600px) {
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .delimeter {
      display: none;
    }
  }
}

.delimeter {
  margin-left: 6px;
  margin-right: 6px;
}

.tabs {
  grid-column: 12 span;
  z-index: 5;
}

.bg {
  background-image: url("https://image1.challengermode.com/5ad4086a-90d9-4cb5-3f88-08db5bcb0207_1200_300");
  position: absolute;
  inset: 0;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.bgMask {
  position: absolute;
  inset: 0;
  height: 240px;
  background-image: linear-gradient(180deg, common.$panelBg, common.$bg15);
  background-size: 100% 100%;
  z-index: 1;
}
