@import "../../common.scss";

.adBlock {
  position: relative;
  flex: 1;
  padding: 20px;

  @media (max-width: 1200px) {
    display: none;
  }
}


.horizontalAdBlock {
  position: relative;
  //flex: 1;
  //padding: 20px;
  //min-height: 140px;

  @media (min-width: 1200px) {
    display: none;
  }
}

.hidden {
  display: none;
}
