@import "../../common.scss";

.modeTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locked {
  position: relative;
  cursor: not-allowed !important;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
  }
}


.disabled {
  cursor: not-allowed !important;
}

.modeOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px;
  cursor: pointer;
  align-items: center;
  user-select: none;

  & > div {
    flex: 1;
  }

  //&:hover.mode__disabled {
  //  box-shadow: 0 0 4px 4px rgba(211, 38, 38, 0.25) inset;
  //}
  //&:hover:not(.mode__disabled) {
  //  box-shadow: 0 0 4px 4px rgba(183, 183, 183, 0.25) inset;
  //}

  & + & {
    border-top: 1px solid #4e4d4d;
  }
}

.mode {
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  padding: 4px;

  &__name {
    color: $gold;
    line-height: 1.4rem;
    font-size: 1.2rem;
    //padding-bottom: 4px;
  }

  &__inQueue {
    color: $primaryTextTint;
  }

  &__disabledBy {
    color: $red;
  }

  &__suffix {
    margin-top: 8px;
    padding-left: -2px;
    color: $primaryTextDark;
  }

  & svg {
    margin-right: 2px;
  }

  & span.info {
    font-size: 12px;
  }

  &.header {
    cursor: unset;
    font-weight: normal;
    font-size: 18px;
    //color: colors.position.foreground.bronze};

    &:hover {
      background: unset;
    }
  }

  &__current {
    //background-color: $transparentTint !important;
  }

  //&__disabled_selected {
  //  background-color: $transparentTint !important;
  //  //box-shadow: 0 0 4px 4px rgba(211, 38, 38, 0.25) inset;
  //}

  &__active {
    animation: pendingAnimation 2s linear infinite;
  }
}
