@use "../../common.scss";

.copyHolder {
  margin-top: 10px;
  position: relative;
  display: flex;

  & input {
    flex: 1;
  }

  & svg {
    position: absolute;
    top: 0;
    bottom: 5px;
    right: 15px;
    margin: auto;
  }
}

@keyframes popup {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.successCopy {
  animation: popup 0.8s;
}
