@import "../../common.scss";

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;

  & span {
    margin-left: 4px;
    text-transform: capitalize;
  }
}

.result {
  display: flex;
  flex-direction: column;
  & span + span {
    margin-top: 4px;
  }

  &__win {
    color: $green;
  }
  &__lose {
    color: $red;
  }
}

.timestamp {
  font-size: 0.8rem;
}
