@use "../../common.scss";

.modal {

}

.settings {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: stretch;
  align-self: stretch;
  padding: 12px 16px;
  gap: 12px;

  & button {
    width: unset;
    margin-top: 12px;
  }

  & .startGame {
    //border: 1px solid $green;
  }

  & .leaveLobby {
    border: 1px solid common.$primaryTextDark2;
  }
}

.checkboxes {
  row-gap: 1rem;
}

.formItem {
  & header {
    margin-block-start: 0rem;
    margin-block-end: 0.5rem;
  }

  display: flex;
  flex-direction: column;
  align-items: stretch;


  &__inline {
    flex-direction: row;
    align-items: center;
    & span {
      flex: 1;
    }
  }
}
