@import "../../common.scss";

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 0.8rem;
  & a {
    margin-left: 4px;
    text-transform: capitalize;
  }
}

.result {
  display: flex;
  flex-direction: column;
  & span {
    white-space: nowrap;
  }
  & span + span {
    margin-top: 4px;
  }

  &__win {
    color: $green !important;
  }
  &__lose {
    color: $red !important;
  }
}

.timestamp {
  font-size: 0.7rem;
  white-space: nowrap;
}

.kda {
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
}


.secondary {
  font-size: 0.7rem;
  color: $primaryTextDark;
}
