@import "../../common.scss";

.achievement {
  position: relative;

  z-index: 100;

  width: 100px;
  height: 140px;
  background: rgba(0, 0, 0, 0.4);

  transition: 0.3s ease;

  &:hover {
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  }

  & img {
    transition: 0.3s ease;
    transform: perspective(500px) translateZ(0px);

    top: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: calc(100% - 40px);
  }

  &__incomplete {
    & img {
      opacity: 0.3;
    }
  }

  &:hover {
    & .achievementDescription {
      display: block;
    }
  }
}

.progress {
  font-size: 12px;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;

  & svg {
    vertical-align: middle;
  }
}

.title {
  font-size: 12px;
  text-align: center;
}

.achievementDescription {
  position: absolute;
  left: 0;
  top: calc(100% + 14px);
  padding: 6px 12px;
  background-color: $bg2;
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.4);
  z-index: 10000;
  width: 300%;
  display: none;
  transform: translateX(-25%);
}
