@import "../../common.scss";

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: $bg2;
  color: $primaryText;
  z-index: 100000;
  border-bottom: 1px solid $transparentTint2;
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);

  &__admin {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.mobileMenu {
  flex: 1;
  justify-content: flex-end;
  display: none;

  @media (max-width: 600px) {
    display: flex;
  }

  & svg {
    width: 2em;
    height: 2em;
  }
}

.navbarInner {
  max-width: 1200px;
  margin: auto;
}


.navbarList {
  display: flex;
  flex-direction: row;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;

  &__desktop {
    display: inline-flex;
    flex: 1;

    @media (max-width: 600px) {
      position: absolute;
      display: none !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100%;
      transition: 0.3s ease;
    }

    &.visible {
      display: flex !important;
      flex-direction: column;
      width: 100vw;
      background: $bg2;
      height: calc(100dvh - 44px);
      top: 44px;
      font-size: 22px;
      gap: 10px;
      color: white !important;
      bottom: 0;
    }
  }

  & li {
    float: left;
    list-style: none;
    align-content: center;
  }
}

.spacer {
  flex: 1;
}

.playerAvatar {
  width: 30px;
  height: 30px;
  margin-left: 4px;
  border-radius: 2px;
}

.root {
  //background-color: $bg15;
  & a {
    color: #ed3b1c !important;

    & svg {
      margin-bottom: 4px;
      margin-right: 4px;
    }
  }
}

.user {
  min-width: 100px;
  @media (max-width: 600px) {
    border: 1px solid $transparentTint;
    outline: none;
    border-radius: 4px;
    transition: 0.3s ease;
    color: $primaryText;
    cursor: pointer;
    background-color: $bg2;
  }
}
