@import "../../common.scss";


.select {
  background: $bg2 !important;
  min-width: 200px;
  @media (max-width: 600px) {
    min-width: 160px;
  }
}

.option {
  background: $bg2 !important;
  transition: 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: $transparentTint !important;
  }
}

.menu {
  background: $bg2 !important;
  padding: 0 !important;
  border: 1px solid rgba(128, 128, 128, 0.3);
  margin-top: 4px;
  max-height: 200px;
  height: 200px;
}

.menuList {
  max-height: 200px;
  height: 200px;
  overflow-y: auto;
}

.preview {
  color: $primaryText !important;
}
