@use '../../common.scss';

.container {
  position: fixed;

  display: flex;
  flex-direction: column;
  z-index: 1000;
  right: 50px;
  bottom: 150px;

  & div + div {
    margin-top: 10px;
  }
}

.notification {
  color: common.$primaryText;
  background: common.$evenDarkerBg;
  padding: 15px;
}


.plsMove {
  bottom: 250px;
}
