.container {
  position: fixed;

  display: flex;
  flex-direction: column;
  z-index: 1000;
  right: 50px;
  bottom: 150px;

  & div + div {
    margin-top: 10px;
  }
}

.notification {
  color: var(--ds-color-text-primary);
  background: var(--ds-color-bg-deep);
  padding: 15px;
}


.plsMove {
  bottom: 250px;
}
