@use "../../../styles/mixins.scss" as m;
.tooltip {
  @include m.box;
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 4px;
  gap: 2px;
  background-color: var(--ds-color-bg-elevated);
}

.reacted {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 4px;

  & > img {
    border-radius: 10%;
    margin-right: 4px;
  }

  & span {
    margin-top: -4px;
  }
}



.emoticon {
  border-bottom: 1px solid var(--ds-color-accent-blue-tint-15);
  padding-bottom: 4px;
  margin-bottom: 4px;
  align-items: center;
  display: flex;
  flex-direction: row;

  & span {
    color: var(--ds-color-text-muted);
  }

  & img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
