@import "../../common.scss";

.tooltip {
  @include box;
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 4px;
  gap: 2px;
  background-color: $bg2;
}

.reacted {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  & img {
    border-radius: 10%;
    margin-right: 4px;
  }

  & span {
    margin-top: -4px;
  }
}



.emoticon {
  border-bottom: 1px solid $transparentTint;
  padding-bottom: 4px;
  margin-bottom: 4px;
  align-items: center;
  display: flex;
  flex-direction: row;

  & span {
    color: $primaryTextSemiDark;
  }

  & img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
