@import '../../common.scss';


.section {
  margin-top: 10px;
  & header {
    font-size: 16px;
    color: white;
    position: relative;
    padding: 6px 4px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
