@use "../../common.scss";

.queue {
  color: #c2c2c2;
  font-size: 35px;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  justify-content: center;

  @media (max-width: 600px) {
    padding: 10px;
    font-size: 16px;
  }

  & a {
    text-decoration: none;
    color: #c2c2c2;

    transition: 0.3s ease;

    &:hover {
      color: white;
    }
  }
}

.liveMatches {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preview {
  @include common.card();

  display: flex;
  flex-direction: row;
  @media (width <= 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.info {
  & span {
    min-width: 10px;
    display: inline-block;
  }

  & div {
    @media (width > 600px) {
      width: 450px;
    }
  }
}

.matchInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;

  & h3 {
    //margin-block-start: 0;
  }
}
