@import "../../common.scss";

.heroWithLevel {
  position: relative;

  & .abandon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100%;

    &__visible {
      display: block;
    }
  }
}

.level {
  color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px;
  border-radius: 4px;
}

.gold {
  color: $gold !important;
}

.fixedWidth {
  width: 300px;

  @media (max-width: 600px) {
    margin-left: 6px;
    text-transform: capitalize;
    white-space: nowrap;
    width: 200px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mobileHidden {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.items {
  @media (max-width: 600px) {
    min-width: 140px;
  }
}
