@import "../../common.scss";



.part {
  color: $gold;
  font-weight: bold;
  line-height: 2rem;
}


.hashtag {
  color: $primaryTextDark;
  transition: 0.3s ease;
  position: absolute;
  left: -1.6rem;
  font-size: 1.4rem;
  top: 6px;
  //bottom: 0;
  //margin: auto;
  display: flex;
  align-items: center;
  opacity: 0;
}


.hashtagable {
  position: relative;


  &:hover {
    & .hashtag {
      opacity: 1;
      color: $primaryText;
    }
  }
}
