@use "../../../common.scss";


.page {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: repeat(24, 1fr);
}


.items {
  grid-column: span 11;
}


.matchHistory {
  grid-column: span 13;
}
