.user {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  font-size: 0.8rem;
  color: var(--ds-color-text-primary);
  align-items: stretch;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
