@import "../../common.scss";


.hat {
  position: relative;
  @include box();
  border: 1px solid $bg1;
  background-color: $bg1;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover, &:focus {
    box-shadow: 0px 0px 10px $blueHighlight;
    border: 1px solid $blueHighlight2;
  }
}

.hat__price {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  background-color: $bg2;
  box-shadow: 0px 0px 6px $primaryText;


  & svg {
    color: $gold;
    margin-bottom: -2px;
  }
}
