@use "../../common.scss";

.container {
  position: fixed;

  background: common.$bg15;

  //right: 50px;
  right: max(0px, calc((100dvw - 1600px) / 2));
  bottom: 58.4px;

  z-index: 10000;

  width: fit-content;

  @media (max-width: 600px) {
    bottom: 10px;
    margin: auto;
    right: 0;
    left: 0;
  }
}
