@import "../../common.scss";

.container {
  position: fixed;

  background: $bg15;

  right: 50px;
  bottom: 50px;

  z-index: 10000;

  width: fit-content;

  @media (max-width: 600px) {
    bottom: 10px;
    margin: auto;
    right: 0;
    left: 0;
  }
}
