@import "../../common.scss";

.stats {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: $panelBg;
  flex: 1;
}


.statsContainer {
  grid-column: 5 span;
}

.numericalStats {
  padding-top: 4rem;

  & dl {
    display: flex;
    flex-direction: row;
    gap: 12px;
    white-space: nowrap;
  }

  & dd {
    color: $gold;
    min-width: 100px;
    margin-inline-start: 1rem;
  }

  & dt {
    flex: 1;
    text-align: left;
  }

  & .delimiter {
    display: block;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid $blueHighlight3;
  }
}

.pentagon {
  grid-column: 7 span;
  position: relative;
  //background-color: $blueHighlight3;

  &__visual {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    position: relative;
  }
}


.dot {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $red;
  border: 1px solid $deepBlue;

  transform: translate(-40%, -77%);

}

.aspect {
  position: absolute;
  transform: translate(-50%, -50%);

  font-size: 0.7rem;

  //@include box();
  //padding: 4px;
  //background-color: $bg1;
  //display: flex;
  //flex-direction: column;
  //transition: 0.3s ease;
  //cursor: pointer;
  //border-radius: 50%;
  //
  //& svg {
  //  font-size: 2rem;
  //}

  &:nth-child(2) {
    margin-left: 20px;
    margin-top: 0px;
  }

  &:nth-child(5) {
    margin-left: -20px;
    margin-top: 0px;
  }
}

.svg {
  width: 100%;
  aspect-ratio: 1;
  height: auto;

  & .svg__big_penta {
    fill: url(#grad);
    stroke-width: 2px;
    stroke: $deepBlue;
  }

  & .svg__small_penta {
    stroke-width: 2px;
    stroke: $gold;
    fill: rgba(203, 181, 66, 0.35);
  }
}
