@import "../../common.scss";

.banned {
  color: $primaryTextDark;
  border-color: $red;
}

.ingame {
  display: none;
}

.cancel {
  border: none !important;
  outline: none;
  // animation: ${pendingAnimation} 2s linear infinite;
}

.longText {
  font-size: 1rem;
  white-space: normal;
  max-width: 400px;
}

.disableReason {
  font-size: 1rem;
}

.searchAdditional {
  font-size: 1rem;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  //color: $gold;
  &__modes {
    //flex: 1;
  }
}


.searchTimer {
  //&::before {
  //  content: '/';
  //  //padding-left: 4px;
  //  padding-right: 6px;
  //}
  color: $gold;
  width: 80px;
}
