@import "../../common.scss";

.banned {
  color: $primaryTextDark;
  border-color: $red;
}

.ingame {
  display: none;
}

.cancel {
  border: none !important;
  outline: none;
  // animation: ${pendingAnimation} 2s linear infinite;
}

.longText {
  font-size: 1rem;
  white-space: normal;
  max-width: 400px;
}

.disableReason {
  font-size: 1rem;
}
