@import '../../common.scss';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  padding-left: 0.5rem;
  & li {
    list-style: none;
  }
  & li:not(:first-child) {
    margin-left: 4px;
    &::before {
      content: '>';
      margin-right: 4px;
    }
  }
}
