@use "../../common.scss";

.panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px 20px;
  & p {
    font-size: 1.4rem;
  }
}

.icons {
  grid-column: span 4;

  margin-bottom: 200px;
}

.imageDecoration {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
  border: 1px solid common.$transparentTint2;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  }

  & img {
    width: 100px;
    height: auto;
  }

  & header {
    text-align: center;
    margin-block-start: 0;
  }
}

.decorations {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imageGallery {
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 16px;
  background: common.$bg15;
  z-index: 10000000;
  overflow-y: auto;
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.6);

  height: 400px;

  &__small {
    grid-template-columns: repeat(10, 1fr);
    & img {
      width: 40px !important;
      height: auto;
    }
  }

  & img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      filter: drop-shadow(2px 4px 4px common.$green);
    }
  }
}

.stackedTextSelect {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: 16px;
}
