@import "../../common.scss";

.createMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.createMessage {
  position: relative;
  background-color: $bg3;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 2px;

  & .text {
    width: 100%;
    flex: 1;

    & > div:nth-child(2) {
      z-index: 50 !important;
    }

    & textarea {
      //font-size: 1rem;
      //padding: 12px;
      //border-radius: 8px;
      //transition: 0.3s ease;
      color: $primaryText !important;
      border: none;
      outline: none;
      background-color: transparent !important;
      //
      //resize: none;
      //
      //cursor: pointer;
    }
  }
  & .markdown {
    display: inline-block;
    align-self: flex-start;
    color: $primaryTextDark;
    width: unset;
  }

  & button {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: center;
    border: none;
  }
}

.buttons {
  right: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  gap: 12px;

  & .buttonWrapper {
    padding: 4px;
    transition: 0.3s ease;
    background-color: transparent;
    cursor: pointer;

    & svg {
      font-size: 1.4rem;
      color: $primaryTextTint;
      transition: 0.3s ease;
    }

    &:hover {
      & svg {
        color: $gold;
        transform: rotateZ(-5deg);
      }
    }
  }
}

.test {
  grid-column: span 23;
  grid-row: span 1;
  color: $red;
  transition: 0.3s ease;

  height: 0;

  &.visible {
    height: 100%;
  }
}

.replyMessage {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;

  & img {
    width: 20px !important;
    height: 20px !important;
    margin-left: 6px;
    margin-right: 4px;
    border-radius: 50%;
  }

  &__name {
    flex: 1;
  }

  & svg {
    align-self: flex-end;
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
      transform: scale(1.1);
      color: $red;
    }
  }
}

.suggestion_list {
  background-color: $bg2;
  @include box();
  width: 400px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 6px;
  z-index: 500 !important;
}

.suggestion {
  padding: 4px 8px !important;
}

.focused {
  background-color: $blueHighlight3;
}
