@import "../../common.scss";

.iconButton {
  transition: 0.3s ease;
  background-color: $bg1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid black;

  &:hover, &:focus {
    box-shadow: 0px 0px 10px $blueHighlight;
    border: 1px solid $blueHighlight2;
  }
}
