@import "../../common.scss";

.playerList {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
  margin-top: 12px;
}

.playerPreview {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.09);
  }
}

.close {
}

.invitePlayerModal {
  & :global(.modal) {
    min-width: 40% !important;

    height: 60%;
  }
}
