@use "../../common.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 16px; // slightly more breathing room

  &__row {
    @include common.card();
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    header {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.complex {
  gap: 12px;
}

.image {
  width: 50%;
  max-width: 300px;
  border: 1px solid black;
}
