@use "../../../styles/mixins.scss" as m;
.withBorder {
  border: 1px solid var(--ds-color-text-faint);
  padding: 12px 8px;

  & + & {
    margin-top: 14px;
  }
}

.gridPanel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}

.grid8 {
  grid-column: span 8;
}

.grid6 {
  grid-column: span 6;
}

.grid4 {
  grid-column: span 4;
}

.grid12 {
  grid-column: span 12;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.parties {
  align-items: stretch;
  flex-direction: column;
}

.onlineList {
  & li {
    margin-top: 8px;
  }
}

.gap12 {
  gap: 12px;
}

.nowrap {
  white-space: nowrap;
}

.feedback {
  display: flex;
  flex-direction: row;
  & div {
    flex: 1;
  }

  & h2 {
    color: var(--ds-color-accent-red);
    font-weight: bold;
  }
}

.playerFeedback {
  @include m.box();
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;

  & ul {
    padding-inline-start: 1rem;
  }
}


.col {
  display: flex;
  flex-direction: column;
}
