@import "../../common.scss";

.withBorder {
  border: 1px solid $primaryTextDark2;
  padding: 12px 8px;

  & + & {
    margin-top: 14px;
  }
}




.gridPanel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}

.grid8 {
  grid-column: span 8;
}

.grid4 {
  grid-column: span 4;
}

.grid12 {
  grid-column: span 12;
}


.parties {
  align-items: stretch;
  flex-direction: column;
}


.onlineList {
  & li {
    margin-top: 8px;
  }
}
