@use "../../common.scss";

.withBorder {
  border: 1px solid common.$primaryTextDark2;
  padding: 12px 8px;

  & + & {
    margin-top: 14px;
  }
}

.gridPanel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}

.grid8 {
  grid-column: span 8;
}

.grid6 {
  grid-column: span 6;
}

.grid4 {
  grid-column: span 4;
}

.grid12 {
  grid-column: span 12;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.parties {
  align-items: stretch;
  flex-direction: column;
}

.onlineList {
  & li {
    margin-top: 8px;
  }
}

.nowrap {
  white-space: nowrap;
}

.feedback {
  display: flex;
  flex-direction: row;
  & div {
    flex: 1;
  }

  & h2 {
    color: common.$red;
    font-weight: bold;
  }
}

.playerFeedback {
  @include common.box();
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;

  & ul {
    padding-inline-start: 1rem;
  }
}
