@use "../../common.scss";

.tree {
  grid-column: span 4;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.edit {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  margin-top: 20px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.node {
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  &__warning {
    & > span {
      &::after {
        content: "*";
        margin-right: 2px;
        left: -4px;
        color: common.$error;
        font-size: 1rem;
        transform: scale(1.5);
      }
    }
  }

  &__selected,
  &:hover {
    background: common.$panelBg;
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  gap: 16px;

  & button {
    grid-column: span 1;
  }
}
