@import '../../common.scss';


.item {
  height: 40px;
  object-fit: contain;
  width: unset;

  @media (max-width: 600px) {
    height: 30px;
  }

  &.small{
    height: 30px;
  }
}


.img2 {
  display: inline-block;
  width: 53px;
  height: 40px;
  background: rgb(46, 46, 46);
  background: linear-gradient(138deg, rgba(46, 46, 46, 1) 0%, rgba(14, 14, 14, 1) 95%);
  outline: 1px solid #403d3d73;

  @media (max-width: 600px) {
    height: 30px;
    width: 40px;
  }
}
