@import "../../common.scss";

.queue {
  width: 100vw;
  height: 100vh;
  color: $primaryText;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}


.modes {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #242424;
  overflow-y: auto;
  width: 400px;


}


.main {
  flex: 1;
  border: 1px solid red;
}
