@import "../../common.scss";

.box {
  background-color: $bg2;
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.queue {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.onlineInfo {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  transition: 0.3s ease;

  color: $primaryText;
}

.queuePanel {
  display: flex;
  flex-direction: column;
}
.main {
  grid-row-gap: 12px;
  grid-column: span 6;
  grid-row: span 12;

  display: flex;
  flex-direction: column;

  & header {
    grid-row: span 1;
    padding: 0;
  }
}

.mobile__tabs {
  @media (min-width: 600px) {
    grid-column: span 12;
    display: none;
  }
}

.queueDiscussion {
  flex: 1;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  margin-top: 0;

  & :global(.messageList) {
    flex: 1;
  }
}

.deleteMe {
  & :global(.messageList) > div:first-child {
    height: 787px !important;
  }
}

.notify {
  display: flex;
  align-items: center;
}

@keyframes something {
  0% {
    border-color: $blueHighlight3;
  }

  100% {
    border-color: $blueHighlight2;
  }
}

.mobile__modes {
  @media (max-width: 600px) {
    grid-column: span 12;
    flex: 1;
  }
  &_hidden {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.mobile__chat {
  @media (max-width: 600px) {
    grid-column: span 12;
    flex: 1;
  }
  &_hidden {
    @media (max-width: 600px) {
      display: none;
    }
  }
}


.fun {
  //grid-row-gap: 12px;
  grid-column: span 3;
  grid-row: span 12;

  display: flex;
  flex-direction: column;
}
