@use "../../common.scss";

.message {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: unset;

  &__header {
    padding-top: 10px;

    &_nopadding {
      padding-top: 0;
    }
  }
}

.author {
  display: flex;
  flex-direction: row;

  color: common.$primaryTextDark;
  gap: 4px;
  align-items: center;
  padding-right: 8px;

  & svg {
    vertical-align: middle;
    font-size: 1.2rem;
  }
}

.messageTime {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  white-space: nowrap;
}

.content {
  white-space: pre-line;
  overflow-wrap: break-word;
  flex: 1;
  padding-right: 1rem;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  word-break: break-word;
}

.tools {
  box-shadow: 0 0 8px rgba(10, 10, 10, 0.8);
  visibility: hidden;
  position: absolute;
  right: 10px;
  background: common.$bg2;
  padding: 4px 8px;
  border-radius: 4px;
  top: -26px;
  //bottom: 20px;

  display: flex;
  gap: 8px;

  & svg,
  span {
    font-size: 1.2rem;
    color: common.$primaryText;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.delete {
  vertical-align: middle;
  margin-left: 4px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    color: common.$red;
  }
}

.header {
  padding-top: 4px;

  & .controls {
    align-items: flex-start;
    padding-top: 2px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  padding-left: 12px;

  &__left {
    width: 60px;

    &_user {
      & img:global(.avatar) {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        //border-radius: 50%;
      }
    }
  }

  &__middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    //overflow: hidden;
  }

  &_reactions:hover {
    background-color: common.$transparentTint3;

    & .time {
      visibility: visible;
    }
    & .tools {
      visibility: visible;
    }
  }

  &:has(:global(.avatar):hover) {
    :global(.globalLinkReference)::before {
      width: 100%;
    }
  }
}

.username {
  font-weight: bolder;
}

.time {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  color: common.$primaryTextDark;
}

.online {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 4px;
    right: -4px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(34, 206, 34, 1);
    outline: 2px solid common.$bg2;
    z-index: 10;
  }
}
.offline {
  //border: 1px solid $transparentTint;
}

.newYear {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 4px;
    right: 0px;
    top: -58px;
    height: 50px;
    width: 50px;
    background-image: url("/newyear/santahat.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(2px 4px 4px common.$almostBlack);
  }
}

.reactions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  padding-left: 4px;

  &__nonempty {
    padding-bottom: 4px;
  }
}

.reaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  background-color: common.$bg3;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;

  outline: 1px solid transparent;

  &:hover {
    outline: 1px solid common.$blueHighlight3;
  }

  &__active {
    outline: 1px solid common.$blueHighlight2;
    //box-shadow: 0px 0 2px 2px $blueHighlight2 inset;
  }

  & img,
  svg {
    width: 20px;
    height: 20px;
  }

  & svg {
    color: common.$primaryTextTint;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  & span {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.repliedMessage {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &:hover {
    & .repliedMessage__content {
      color: common.$primaryText !important;
    }
    & .repliedMessage__indicator::before {
      border-color: common.$primaryText !important;
    }
  }

  &__content {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    display: block;
    align-items: center;
    color: common.$primaryTextSemiDark;
    padding-left: 4px;
    margin-right: 10px;
    padding-top: 2px;
  }

  & img {
    border-radius: 50%;
  }

  &__indicator {
    position: relative;
    width: 60px;
    min-width: 60px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      border: 2px solid common.$primaryTextSemiDark;
      border-radius: 6px;
      top: 8px;
      left: 35px;
      z-index: 2;
    }
  }
}

.edited {
  font-size: 0.6rem;
  color: common.$primaryTextDark;
  margin-left: 2px;
}

.richContent {
  //white-space: nowrap;
  overflow: hidden;

  &__placeholder {
    background-color: common.$primaryTextDark2;
    height: 1rem;
  }

  & iframe {
    display: block;
  }
}

.avatarRoot {
  width: 45px;
  height: 45px;
  display: block;
}

.avatarPlaceholder {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: common.$primaryTextDark2;
}

.roleTooltip {
  @include common.box();
  padding: 8px 12px;
  background-color: common.$bg2;
  color: common.$primaryText;
}

.blockedMessage {
  font-size: 1.2rem;
}

.showBlockedMessage {
  color: common.$primaryTextDark;
  cursor: pointer;
  display: flex;
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: common.$blueHighlight;
  }

  & svg {
    margin-bottom: 1px;
    margin-right: 4px;
  }
}

.hover_red {
  transition: 0.3s ease;
  &:hover {
    color: common.$red;
  }
}
.hover_green {
  transition: 0.3s ease;
  &:hover {
    color: common.$green;
  }
}
