@import "../../common.scss";

.message {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: unset;

  &_tiny {
  }
}

.author {
  display: flex;
  flex-direction: row;

  color: $primaryTextDark;
  gap: 4px;
  align-items: center;

  & svg {
    vertical-align: middle;
  }
}

.content {
  white-space: pre-line;
  overflow-wrap: break-word;
  flex: 1;
  padding-right: 1rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

.delete {
  vertical-align: middle;
  margin-left: 4px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $red;
  }
}

.header {
  padding-top: 4px;

  & .controls {
    align-items: flex-start;
    padding-top: 2px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: row;

  padding-left: 12px;

  &__left {
    width: 60px;

    &_user {
      & img {
        width: 45px;
        height: 45px;
        border-radius: 30%;
        //border-radius: 50%;
      }
    }
  }

  &__middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  &:hover {
    background-color: $transparentTint3;

    & .time {
      visibility: visible;
    }
    & .controls {
      visibility: visible;
    }
  }
}

.controls {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.username {
  font-weight: bolder;
  position: relative;
}

.time {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  color: $primaryTextDark;
}

.messageIndex {
  margin-left: auto;
}

.online {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 4px;
    right: -4px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(34, 206, 34, 1);
    outline: 2px solid $bg2;
  }
}
.offline {
  //border: 1px solid $transparentTint;
}
