@import "../../common.scss";

.noobQueue {
  display: flex;
  flex-direction: column;
}

.requiredStep {
  position: relative;
  transition: 0.5s ease;
  padding: 12px 12px;

  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 24px;
  }

  &__upcoming {
    opacity: 0.2;
  }

  & .complete {
    background-color: $blueHighlight2;
  }

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      margin-right: 10px;
    }
  }
}
