@use "../../common.scss";

.modal {
  //& :global(.modal) {
  //  width: 40vw;
  //}
  cursor: auto;
}

.card {
  @include common.card();
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  font-size: 1.4rem;
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;
  font-weight: bold;
  align-items: center;

  &_match_link {
    margin-left: auto;
  }

  &__small {
    font-size: 1.1rem;
  }
}

.match_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 12px 36px;
  gap: 12px;

  @media (width <= 600px) {
    padding: 4px 4px 20px;
  }
}

.bg {
  background-image: url("https://image1.challengermode.com/5ad4086a-90d9-4cb5-3f88-08db5bcb0207_1200_300");
  position: absolute;
  inset: 0;
  height: 190px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
  z-index: -2;
}

.bgMask {
  position: absolute;
  inset: 0;
  height: 190px;
  background-image: linear-gradient(180deg, common.$panelBg, common.$bg15);
  background-size: 100% 100%;
  z-index: -1;
}

.teams {
  gap: 12px;
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 20px 1fr;
}

.delimeter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  text-align: end;
  justify-content: flex-end;

  &__reverse {
    flex-direction: row-reverse;
    & .team__result {
      text-align: start;
    }
  }
}

.team_info {
  display: flex;
  flex-direction: row;

  @media (width <= 600px) {
    flex-direction: column-reverse;
    align-items: center;

    & .team__result {
      align-items: center;
    }
  }

  & > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.team__result {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.score {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 12px;
}

.team_name {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (width <= 600px) {
    font-size: 0.8rem;
  }
}

.games {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.game {
  @include common.card();
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  @media (width <= 600px) {
    flex-wrap: wrap;
  }
}

.tabs {
  flex: 0 0 auto; /* don’t shrink */
}
